
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
   /* background: white;
    min-height: 200vh;*/
    font-family: 'Lato',sans-serif;
    background-color:#f4f4f4;
    color:#555;
    font-size:16px;
    line-height:1.6em;

}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;



}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background-color: #333;
}

#navbar ul {
  float: left;
  padding-left: 0px;
  list-style: none;
}


/* ########## nav-bar ############*/
nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;

}

nav.sticky
{
    padding: 5px 100px;
    background: rgb(244, 247, 244);
    height: 80px;
}

nav .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

nav ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    position: relative;
    list-style: none;

}

nav ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-size: larger;
}

nav.sticky .logo,
nav.sticky ul li a
{
    color: #000;




}
/* ############# nav-bar #############*/



/* ############   banner   ###########*/

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background : url("../images/cover11.jpg");
    /* background-color: aquamarine; */
    background-size: cover;  
}

.color-overlay {
    width: 100%;
    height:100%;
    background: #1f201f;
    opacity: 0.85;
    position: absolute;
   
}

.banner-text {
  
    letter-spacing: 2px;
    font-weight: 500px;
    font-size: 30px;
    transition: 0.6s;
    color: rgb(184, 190, 185);
    text-align: center;
    padding-bottom: 20px;
  
}
.banner-text h1 {
   line-height: 55px;
}

/* ############   banner   ###########*/


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  
    
  }
  .container-1{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    position: absolute;
    align-items:center;
    flex-direction:column;
   
  }

 









#main{
    padding-top: 100px;
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing: border-box;
}

#sidebar{
    float:right;
    width:30%;
    background: #333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color:#fff;
    text-align: center;
    padding:20px;
    margin-top:40px;
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }

    #sidebar{
        width:100%;
        float:none;
    }



}
