/* Create two equal columns that floats next to each other */
body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
	overflow-x: hidden;
	
}

.topnav {
  background-color:#5ccc8c;
  text-align: center;
  width: 100%;
  

}


.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 5px 50px;
  text-decoration: none;
  font-size: 17px;
  

}

.topnav a:hover {
  color: black;
}

@media screen and (max-width: 1000px) {
  .topnav a{
    width: 100%;
    display: block;
    
  }
}

.container{
    padding-left: 20px;
    width:100%;
	margin:auto;
	overflow:hidden;
}

#navbar{
	background-color:#5ccc8c;
	color:black;
}

#navbar ul{
	float:left;
	padding-left:0px;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar li:first-child{
	display:inline;
	padding-right: 800px;
}

#navbar a{
	color:black;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}


#main-footer{
	background: #5ccc8c;
	color:#fff;
	text-align: center;
	padding:20px;
	width: 100%;
	
	
}

button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 20px;
		    border: 2px solid white;
        background-color: #5ccc8c;
        color: white;
        font-size: 25px;
        margin-left: 55px;
        width: 35%;
    }
button:hover{
    background-color: #04AA6D;
}
button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #f0f4f8;
}
.myButton{
	margin-top: 20px;	
}
.container2{
    background-image: url('../images/beginner.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
   	width:100%;
    min-height:500px;
	overflow:hidden;
	position: relative;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;

}
.container3{
	padding-top: 20px;
	position:absolute;
	margin-left: 10%;
	margin-right: 10%;
}

#intro{
    margin-top: 30px;
    margin-left: 30px;
   
}
